@import "../src//common/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans" , sans-serif;
}

html{
  height: 100%;
}

body {
  background: $primary-color;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.app{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 40px;
  flex: 1;
}

